
    <div class="main-content- h-100vh">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center">
                <div class="hero">
                    <div class="cube"></div>
                    <div class="cube"></div>
                    <div class="cube"></div>
                    <div class="cube"></div>
                    <div class="cube"></div>
                    <div class="cube"></div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <!-- Middle Box -->
                    <div class="middle-box">
                        <div class="card">
                            <!-- Form row -->
                            <div class="row">
                                <div class="col-xl-6 box-margin height-card">
                                    <div class="card card-body">
                                        <h4 class="card-title">Structure informations</h4>
                                        <div class="row">
                                            <div class="col-sm-12 col-xs-12">
                                                <form [formGroup]="formStructure">
                                                    <div class="form-group">
                                                        <app-field-error-display 
                                                            [displayError]="isFieldValid('name')" 
                                                            errorMsg="Veuillez remplir ce champ">
                                                        </app-field-error-display>
                                                        <label for="exampleInputEmail111">Name(<span style="color: red">*</span>) </label>
                                                        <input type="text" class="form-control" id="exampleInputEmail111" placeholder="Enter structure name"
                                                        formControlName="name">
                                                    </div>
                                                    <div class="form-group">
                                                        <app-field-error-display 
                                                            [displayError]="isFieldValid('email')" 
                                                            errorMsg="Veuillez remplir ce champ">
                                                        </app-field-error-display>
                                                        <label for="exampleInputEmail12">Email (<span style="color: red">*</span>)</label>
                                                        <input type="email" class="form-control" id="exampleInputEmail12" placeholder="Enter email"
                                                        formControlName="email">
                                                    </div>
                                                    <div class="form-group">
                                                        <app-field-error-display 
                                                            [displayError]="isFieldValid('phone')" 
                                                            errorMsg="Veuillez remplir ce champ">
                                                        </app-field-error-display>
                                                        <label for="exampleInputPassword11">Phone(<span style="color: red">*</span>)</label>
                                                        <input type="text" class="form-control" id="exampleInputPassword11" placeholder="Enter phone"
                                                        formControlName="phone">
                                                    </div>
                                                    <div class="form-group">
                                                        <app-field-error-display 
                                                            [displayError]="isFieldValid('address')" 
                                                            errorMsg="Veuillez remplir ce champ">
                                                        </app-field-error-display>
                                                        <label for="exampleInputPassword12">Address(<span style="color: red">*</span>)</label>
                                                        <input type="text" class="form-control" id="exampleInputPassword12" placeholder="Enter address"
                                                        formControlName="address">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="exampleInputEmail12">Fax</label>
                                                        <input type="text" class="form-control" id="exampleInputEmail12" placeholder="Enter fax">
                                                    </div>
                                                    <div class="form-group">
                                                        <app-field-error-display 
                                                            [displayError]="isFieldValid('niu')" 
                                                            errorMsg="Veuillez remplir ce champ">
                                                        </app-field-error-display>
                                                        <label for="exampleInputEmail12">NIU number(<span style="color: red">*</span>)</label>
                                                        <input type="text" class="form-control" id="exampleInputEmail12" placeholder="Enter niu"
                                                        formControlName="niu">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-6 box-margin height-card">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="card-title">User information</h4>
                                            <form [formGroup]="formUser">
                                                <div class="form-group">
                                                    <app-field-error-display 
                                                        [displayError]="isFieldValidUser('name')" 
                                                        errorMsg="Veuillez remplir ce champ">
                                                    </app-field-error-display>
                                                    <label for="inputEmail4" class="col-form-label">Name(<span style="color: red">*</span>)</label>
                                                    <input type="text" class="form-control" id="inputEmail4" placeholder="Enter names" 
                                                    formControlName="name">
                                                </div>

                                                <div class="form-group">
                                                    <app-field-error-display 
                                                        [displayError]="isFieldValidUser('password')" 
                                                        errorMsg="Veuillez remplir ce champ">
                                                    </app-field-error-display>
                                                    <label for="inputPassword4" class="col-form-label">Password(<span style="color: red">*</span>)</label>
                                                    <input type="password" class="form-control" id="inputPassword4" placeholder="Enter password"
                                                    formControlName="password">
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputAddress" class="col-form-label">Address</label>
                                                    <input type="text" class="form-control" id="inputAddress" placeholder="Address line">
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputEmail12">Email address</label>
                                                    <input type="email" class="form-control" id="exampleInputEmail12" placeholder="Enter email"
                                                    formControlName="email">
                                                </div>
                                                <div class="form-group">
                                                    <app-field-error-display 
                                                        [displayError]="isFieldValidUser('phone')" 
                                                        errorMsg="Veuillez remplir ce champ">
                                                    </app-field-error-display>
                                                    <label for="exampleInputPassword11">Phone(<span style="color: red">*</span>)</label>
                                                    <input type="text" class="form-control" id="exampleInputPassword11" placeholder="Enter phone"
                                                    formControlName="phone">
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputPassword11">Other phone</label>
                                                    <input type="text" class="form-control" id="exampleInputPassword11" placeholder="Enter other phone"
                                                    formControlName="phone1">
                                                </div>
                                                <!-- <button type="submit" class="btn btn-primary">Sign in</button> -->

                                            </form>

                                        </div> <!-- end card-body -->
                                    </div> <!-- end card-->
                                </div>
                                
                            </div>
                            <div class="col-md-12 text-center">
                                <button (click)="onSubmit()" class="btn btn-primary">Sign in</button>
                            </div>

                            <div class="text-center">
                                <strong class="serverError"> {{ serverError }} </strong>
                            </div>
                            <div *ngIf="isLoading" class="text-center">
                                <div class="spinner-border text-primary spinner-login status">
                                    <span class="sr-only"></span>
                                </div>
                            </div>

                            <div class="text-center mt-3"><span class="font-15">Already registered?</span>
                                <a class="font-15" href="javascript:void(0);" routerLink="">
                                    Sign in
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>