<div class="main-content- h-100vh">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="hero">
                <div class="cube"></div>
                <div class="cube"></div>
                <div class="cube"></div>
                <div class="cube"></div>
                <div class="cube"></div>
                <div class="cube"></div>
            </div>
            <div class="col-sm-10 col-md-8 col-lg-5">
                <!-- Middle Box -->
                <div class="middle-box">
                    <div class="card">
                        <div class="card-body p-4">
  
                            <!-- Logo -->
                            <h4 class="font-24 mb-30">Login.</h4>
                            <app-field-error-display 
                                [displayError]="isFieldValid('phoneOrEmail')" 
                                errorMsg="Veuillez remplir ce champ">
                            </app-field-error-display>
                            <form [formGroup]="form" (submit)="onSubmitForm()">
                                <div class="form-group">
                                    <strong class="serverError"> {{ serverError }} </strong>
                                    <input class="form-control login" type="text" (blur)="setServerError()" formControlName="phoneOrEmail" 
                                    id="emailaddress" required="" placeholder="Enter your email or phone">
                                </div>
  
                                <div class="form-group">
                                    <!-- <a href="forget-password.html" class="text-dark float-right"></a> -->
                                    <input class="form-control login" type="password" formControlName="password" (blur)="setServerError()"
                                    required="" id="password" placeholder="Enter your password">
                                </div>
  
                                <div class="form-group d-flex justify-content-between align-items-center mb-3">
                                    <div class="checkbox d-inline mb-0">
                                        <input type="checkbox" name="checkbox-1" id="checkbox-8">
                                        <label for="checkbox-8" class="cr mb-0 font-13">Remember me</label>
                                    </div>
                                    <!-- <span><a class="font-12 text-success" href="forget-password.html">Forgot your password?</a></span> -->
                                </div>
  
                                <div *ngIf="!isLoading" class="form-group mb-0">
                                    <button class="btn btn-primary btn-block" type="submit"> Log In </button>
                                </div>
  
                                <div *ngIf="isLoading" class="text-center">
                                    <div class="spinner-border text-primary spinner-login status">
                                        <span class="sr-only"></span>
                                    </div>
                                </div>

                                <div class="text-center mt-15"><span class="mr-2 font-12">Don't have an account?</span>
                                    <a class="font-12" href="javascript:void(0);" routerLink="register">
                                        Sign up
                                    </a>
                                </div>
  
                            </form>
  
                            <!-- end card -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>