<div class="main-container-wrapper">
    <!-- Top bar area -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
            <a class="navbar-brand brand-logo mr-5" href="index.html"><img src="assets/img/core-img/logo.png" class="mr-2" alt="logo"></a>
            <a class="navbar-brand brand-logo-mini" href="index.html"><img src="assets/img/core-img/small-logo.png" alt="logo"></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-between">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu">
                    <line x1="3" y1="12" x2="21" y2="12"></line>
                    <line x1="3" y1="6" x2="21" y2="6"></line>
                    <line x1="3" y1="18" x2="21" y2="18"></line>
                </svg>
            </button>
            <ul class="navbar-nav mr-lg-2">
                <li class="nav-item app-search d-none d-md-block">
                    <form role="search" class=""><input type="text" placeholder="Search..." class="form-control">
                        <button type="submit" class="search-btn mr-0"><i class="fa fa-search"></i></button></form>
                </li>
            </ul>
            <ul class="top-navbar-area navbar-nav navbar-nav-right">
                <li class="nav-item dropdown dropdown-animate">
                    <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                        <strong>{{ currentUser.name }}</strong> 
                    </a>
                </li>

                <li class="nav-item nav-profile dropdown dropdown-animate">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                        <img src="assets/img/member-img/contact-2.jpg" alt="profile">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown profile-top" aria-labelledby="profileDropdown">
                        <a href="javascript:void(0);" (click)="logout()" class="dropdown-item"><i class="ti-unlink profile-icon" aria-hidden="true"></i> Sign-out</a>
                    </div>
                </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-xl-none align-self-center" type="button" data-toggle="offcanvas">
                <span class="ti-layout-grid2"></span>
            </button>
        </div>
    </nav>

    <div class="container-fluid page-body-wrapper">
        <!-- Side Menu area -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <!-- <ng-template [ngIf]="role != 'ROLE_ADMIN'"> -->
                    <li class="nav-item">
                        <a class="nav-link" routerLink="../structures">
                            <span className="menu-title"> <i className="fa fa-home"></i> Structures </span>
                        </a>
                    </li>
                <!-- </ng-template> -->
                <li class="nav-item">
                    <a class="nav-link" routerLink="/drivers">
                        <span className="menu-title"> <i className="fa fa-users"></i> Chauffeurs </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="../vehicles">
                        <span className="menu-title"> <i className="fa fa-users"></i> Véhicules </span>
                    </a>
                </li>
            </ul>
        </nav>

        <!-- Main page -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card mb-30">
                                <div class="card-body pb-0">
                                    <div class="d-flex justify-content-between align-items-center mb-20">
                                        <h6 class="card-title mb-0">Vehicules</h6>
                                        <ng-template [ngIf]="role == 'ROLE_ADMIN'">
                                            <button type="button" class="btn btn-primary waves-effect waves-light float-right mb-3" data-toggle="modal" data-animation="bounce" data-target=".bs-example-modal-lg">+ Add New</button>
                                        </ng-template>
                                    </div>
                                    <div class="table-responsive order-stats">
                                        <table class="table table-nowrap">
                                            <thead>
                                                <tr>
                                                    <th>Reg. N°</th>
                                                    <th>Capacity weight</th>
                                                    <th>Empty weight</th>
                                                    <th>Total weight</th>
                                                    <th>Structure</th>
                                                    <th>Status</th>
                                                    <th>Vehicle card</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let vehicle of vehicles; let i = index">
                                                    <td>{{ vehicle.registrationNumber }}</td>
                                                    <td>{{ vehicle.capacityWeight }}</td>
                                                    <td>{{ vehicle.emptyWeight }}</td>
                                                    <td>{{ vehicle.totalWeight }}</td>
                                                    <td>{{ vehicle.structure?.name }}</td>
                                                    <ng-template [ngIf]="role != 'ROLE_ADMIN'">
                                                        <td>
                                                            <button (click)="activateOrDeactivate(vehicle.id)" type="button" class="btn btn-primary">
                                                                {{ vehicle.active ? "Deactivate" : "Activate" }}
                                                            </button>
                                                        </td>
                                                    </ng-template>
                                                    <ng-template [ngIf]="role == 'ROLE_ADMIN'">
                                                        <td>
                                                            <button type="button" class="btn btn-success">
                                                                {{ vehicle.active ? "Activated" : "Pending" }}
                                                            </button>
                                                        </td>
                                                    </ng-template>
                                                    <td>
                                                        <ng-template [ngIf]="vehicle.active">
                                                            <button type="button" class="btn btn-primary waves-effect waves-light">
                                                                Download
                                                            </button>
                                                        </ng-template>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-modal="false">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title mt-0 font-16" id="myLargeModalLabel">Add New Vehicle</h5><button type="button" id="closeModalAdd" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                </div>
                                <div class="modal-body">
                                    <form [formGroup]="form" (submit)="onSubmitForm()">
                                        <strong class="serverError"> {{ serverError }} </strong>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <app-field-error-display 
                                                    [displayError]="isFieldValid('registrationNumber')" 
                                                    errorMsg="Veuillez remplir ce champ">
                                                </app-field-error-display>
                                                <div class="form-group"><label for="LeadName">Registration number</label> 
                                                    <input type="text" class="form-control" id="LeadName" required="" 
                                                    (blur)="setServerError()" formControlName="registrationNumber">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <app-field-error-display 
                                                    [displayError]="isFieldValid('capacityWeight')" 
                                                    errorMsg="Veuillez remplir ce champ">
                                                </app-field-error-display>
                                                <div class="form-group"><label for="LeadEmail">Capacity weight</label> 
                                                    <input type="number" class="form-control" id="LeadEmail" required=""
                                                    (blur)="setServerError()" formControlName="capacityWeight">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <app-field-error-display 
                                                    [displayError]="isFieldValid('emptyWeight')" 
                                                    errorMsg="Veuillez remplir ce champ">
                                                </app-field-error-display>
                                                <div class="form-group"><label for="LeadName">Empty weight</label> 
                                                    <input type="number" class="form-control" id="LeadName" required=""
                                                    (blur)="setServerError()" formControlName="emptyWeight">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group"><label for="LeadEmail">Total weight</label> 
                                                    <input type="number" class="form-control" id="LeadEmail" required=""
                                                    (blur)="setServerError()" formControlName="totalWeight">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <app-field-error-display 
                                                    [displayError]="isFieldValid('licenceRef')" 
                                                    errorMsg="Veuillez remplir ce champ">
                                                </app-field-error-display>
                                                <div class="form-group"><label for="LeadName">Licence Reference</label> 
                                                    <input type="text" class="form-control" id="LeadName" required=""
                                                    (blur)="setServerError()" formControlName="licenceRef">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group"><label for="LeadEmail">Description</label> 
                                                    <input type="text" class="form-control" id="LeadEmail" required=""
                                                    (blur)="setServerError()" formControlName="description">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="status-select" class="mr-2">Driver</label> 
                                                    <select class="custom-select" id="status-select" id="type" (blur)="setServerError()" 
                                                    formControlName="idDriver" class="form-control">
                                                        <option *ngFor="let driver of drivers" [ngValue]="driver.id">
                                                            <span> {{ driver.name }} </span>  
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-sm btn-primary">Save</button> 
                                    </form>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div>
                </div>

                <!-- Footer Area -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <!-- Footer Area -->
                            <footer class="footer-area d-sm-flex justify-content-center align-items-center justify-content-between">
                                <!-- Copywrite Text -->
                                <div class="copywrite-text">
                                    <p>Created by @<a href="#">Theme-zome</a></p>
                                </div>
                                <div class="fotter-icon text-center">
                                    <a href="#" class="action-item mr-2" data-toggle="tooltip" title="" data-original-title="Facebook">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>
                                    <a href="#" class="action-item mr-2" data-toggle="tooltip" title="" data-original-title="Twitter">
                                        <i class="fa fa-twitter" aria-hidden="true"></i>
                                    </a>
                                    <a href="#" class="action-item mr-2" data-toggle="tooltip" title="" data-original-title="Pinterest">
                                        <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                                    </a>
                                    <a href="#" class="action-item mr-2" data-toggle="tooltip" title="" data-original-title="Instagram">
                                        <i class="fa fa-instagram" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>